<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wikimedia Foundation</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <main id="app">
        <h1 class="hidden">Wikimedia Foundation</h1>
        <div class="container">
            <header>
                <h2 class="hidden">Header Navigation</h2>
                <div class="brandLogo">
                    <h3 class="hidden">logo</h3>
                    <a href="index.html">
                        <!-- <img src="images/logo.svg" alt="logo"> -->
                        logo
                    </a>
                </div>
                <nav>
                    <h3 class="hidden">nav bar</h3>
                    <ul>
                        <li>Our Job</li>
                        <li>Nav 2</li>
                        <li>Nav 3</li>
                    </ul>
                </nav>
                <button>Donate</button>
            </header>

            <section class="hero">
                <h2>Text</h2>
                <img src="" alt="hero image">
                <p>Excepteur sunt enim amet fugiat ut mollit fugiat cupidatat quis. Eu reprehenderit ex amet excepteur
                    ipsum consequat veniam duis irure proident qui magna esse pariatur. Veniam ex consequat aute ad
                    dolor dolore cillum pariatur aute duis ad exercitation nostrud. Magna aliqua proident esse cupidatat
                    deserunt consequat. Duis aliqua velit aute occaecat eiusmod. Reprehenderit sunt nisi excepteur magna
                    excepteur ea qui eu. Nostrud aute occaecat commodo reprehenderit ut id nulla quis enim.

                    Ea duis Lorem tempor in tempor excepteur cillum fugiat nulla sit pariatur pariatur. Ipsum ipsum quis
                    ad ipsum aliqua officia aliqua culpa veniam anim nisi. Reprehenderit exercitation deserunt sunt eu
                    nostrud aute reprehenderit Lorem consectetur et eu. Proident eiusmod consequat qui velit. Voluptate
                    anim ipsum id cillum mollit ut velit sunt ex ullamco est nisi reprehenderit est.

                    Sint adipisicing eiusmod tempor qui ullamco anim eu fugiat esse incididunt quis nisi est. Occaecat
                    magna officia consectetur cillum. Cillum cupidatat ad minim culpa excepteur duis aliquip pariatur ad
                    consectetur enim minim sint ea. Excepteur commodo sunt laboris do ad est et non veniam aliqua aute
                    amet.</p>
            </section>

            <section class="twitterReviewSection">
                <h2 class="hidden">twitter review section</h2>
                <section id="twitterReview">
                    <h3>Twitter Review 1</h3>
                    <!-- <p></p>
                    <a href=""><img src="" alt=""></a> -->
                </section>
                <section id="twitterReview">
                    <h3>Twitter Review 2</h3>
                    <!-- <p></p>
                    <a href=""><img src="" alt=""></a> -->
                </section>
                <section id="twitterReview">
                    <h3>Twitter Review 3</h3>
                    <!-- <p></p>
                    <a href=""><img src="" alt=""></a> -->
                </section>
            </section>

            <section class="aboutFoundation">
                <h2 class="hidden">about foundation</h2>
                <section id="foundationValues">
                    <h3>About our foundation 1</h3>
                    <div id="valueDesc">
                        <img src="" alt="value 1 image">
                        <p>Eiusmod commodo sit incididunt consequat eiusmod nisi.</p>
                    </div>
                </section>
                <section id="foundationValues">
                    <h3>About our foundation 2</h3>
                    <div id="valueDesc">
                        <p>Eiusmod commodo sit incididunt consequat eiusmod nisi.</p>
                        <img src="" alt="value 2 image">

                    </div>
                </section>
                <section id="foundationValues">
                    <h3>About our foundation 3</h3>
                    <div id="valueDesc">
                        <img src="" alt="value 3 image">
                        <p>Eiusmod commodo sit incididunt consequat eiusmod nisi.</p>
                    </div>
                </section>
                <section id="foundationValues">
                    <h3>About our foundation 4</h3>
                    <div id="valueDesc">
                        <p>Eiusmod commodo sit incididunt consequat eiusmod nisi.</p>
                        <img src="" alt="value 4 image">

                    </div>
                </section>
                <section id="foundationValues">
                    <h3>About our foundation 5</h3>
                    <div id="valueDesc">
                        <img src="" alt="value 5 image">
                        <p>Eiusmod commodo sit incididunt consequat eiusmod nisi.</p>
                    </div>
                </section>
                <section id="foundationValues">
                    <h3>About our foundation 6</h3>
                    <div id="valueDesc">
                        <p>Eiusmod commodo sit incididunt consequat eiusmod nisi.</p>
                        <img src="" alt="value 6 image">

                    </div>
                </section>
            </section>

            <section class="donateNow">
                <h2 class="hidden">donate now button</h2>
                <button>DONATE NOW</button>
            </section>

            <section class="connectSection">
                <h2>Connect</h2>
                <div id="emailBox">
                    <h3>Email Box</h3>
                </div>
            </section>

            <section class="socialMediaSection">
                <h2>Social</h2>
                <p>Cillum mollit sint non ad occaecat reprehenderit laborum et.</p>
                <section class="mediaIcons">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </section>
            </section>

            <footer>
                <h2 class="hidden">footerNavigation</h2>
                <section id="footerNavSection">
                    <section id="leftSection">
                        <section id="leftParts"></section>
                        <section id="leftParts"></section>
                        <section id="leftParts"></section>
                        <section id="leftParts"></section>
                    </section>
                    <section id="rightSection">
                        <section id="rightParts"></section>
                        <section id="rightParts"></section>
                    </section>
                </section>
            </footer>
        </div>
    </main>
</body>

</html>