<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WIKIMEDIA-FOUNDATION</title>
    <link rel="stylesheet" href="../public/css/main.scss">
</head>
<body>
    <img src="../public/images/1.jpg" alt="">
    <img src="../public/images/2.jpg" alt="">
    <img src="../public/images/3.jpg" alt="">
    <img src="../public/images/4.jpg" alt="">
    <img src="../public/images/5.jpg" alt="">
</body>
</html>