.connectSection{
    width: 1815px;
    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin-left: auto;
    margin-right: auto;


    h2{
        width: 430px;
        height: 130px;
        line-height: 130px;
        text-align: center;

    }

    div{
        width: 1600px;
        height: 400px;
        background-color: white;
        margin-bottom: 50px;

        h3{
            line-height: 400px;
            text-align: center;
        }
    }
}