.hidden{
    display: none;
}

body{
    color: $main-color;
    font-family: $main-font;
}

.container{
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}