.hero{
    max-width: 1760px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
    margin-left: 80px;
    margin-right: 80px;

    h2{
        width: 620px;
        height: 110px;
        background-color: grey;
        line-height: 110px;
        text-align: center;
        margin-top: 40px;
    }
    img{
        width: 1650px;
        height: 730px;
        background-color: grey;
        margin-top: 50px;
        line-height: 730px;
        text-align: center;
    }

    p{
        margin-top: 50px;
        width: 1560px;
        height: 468px;
        text-align: center;
        margin-bottom: 50px;
    }
}