.socialMediaSection{
    margin-top: 50px;
    width: 1815px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: brown;
    align-items: center;
    

    h2{
        width: 320px;
        height: 130px;
        line-height: 130px;
        text-align: center;
        margin-top: 30px;
    }

    p{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 30px;
        
    }

    .mediaIcons{
        margin-top: 50px;
        // display: flex;
        // flex-direction: row;
        // justify-content: space-between;
        margin-bottom: 30px;
        
        margin-right: 20px;

        img{
            width:180px;
            height: 153px;
            background-color: white;
            line-height: 153px;
            text-align: center;
            margin-left: 80px;
        }

    }
}