.twitterReviewSection{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;

    #twitterReview{
        width: 510px;
        height: 460px;
        line-height: 460px;
        text-align: center;
        background-color: lightblue;
    }
}