.contactSection{
    width: 1815px;
    height: 796px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    background-color: #574646;
    
    .connectSection{
        width: 533px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2{
            font-size: 97px;
            margin-bottom: 100px;
            color: white;
        }

        #emailBox{
            width: 533px;
            height: 406px;
            background-color: white;
            line-height: 406px;
        }

    }

    .contactText{
       width: 365px;
       p{
           font-size: 37px;
           color: white;
           text-align: left;
       }
    }

    .socialMediaSection{
        width: 460px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        h2{
            font-size: 97px;
            margin-bottom: 100px;
            color: white;
        }

        .mediaIcons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img{
                width: 178px;
            }
        }

        .mediaIcons:nth-child(even){
            margin-bottom: 70px;
        }

        h3{
            color: white;
            font-size: 20px;
            text-align: center;
            margin-top: 40px;
        }

    }


}