.contactSection{
    // width: 1815px;
    // height: 796px;
    // display: flex;
    // flex-direction: row;
    // justify-content: flex-start;
    // align-items: center;
    margin: 0 auto;
    background-color: #574646;
    

    .socialMediaSection{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px 10px;
        box-shadow: 0px 0px 30px 3px rgba($color: black, $alpha: 0.3);


        h2{
            font-size: 40px;
            font-weight: 500;
            text-align: center;
            margin-bottom: 10px;
            color: white;
            text-shadow: 3px 3px 10px rgba($color: black, $alpha: 1.0);

        }

        .mediaIcons{
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            img{
                width: 30px;
                height: 30px;
                margin-right: 10px;
                opacity: 0.5;
                box-shadow: 0px 0px 30px 3px rgba($color: black, $alpha: 0.3);
            }

            img:hover{
                transition: 0.2s ease-in-out;
                opacity: 1;
            }
            
        }

        // .mediaIcons:nth-child(even){
        //     margin-bottom: 70px;
        // }

        h3{
            color: white;
            font-size: 20px;
            text-align: center;
            margin-top: 40px;
        }

    }


}

@media screen and (min-width: 1080px){
    .contactSection{
        // width: 1815px;
        // height: 796px;
        // display: flex;
        // flex-direction: row;
        // justify-content: flex-start;
        // align-items: center;
        margin: 0 auto;
        background-color: #574646;
        
        .connectSection{
            width: 533px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
    
            h2{
                font-size: 97px;
                margin-bottom: 100px;
                color: white;
            }
    
            #emailBox{
                width: 533px;
                height: 406px;
                background-color: white;
                line-height: 406px;
            }
    
        }
    
        .contactText{
           width: 365px;
           p{
               font-size: 37px;
               color: white;
               text-align: left;
           }
        }
    
        .socialMediaSection{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 20px 50px;
            box-shadow: 0px 0px 30px 3px rgba($color: black, $alpha: 0.3);
    
    
            h2{
                font-size: 80px;
                font-weight: 500;
                // margin-bottom: 100px;
                color: white;
                margin-right: auto;
                text-shadow: 3px 3px 10px rgba($color: black, $alpha: 1.0);
    
            }
    
            .mediaIcons{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
    
                img{
                    width: 70px;
                    height: 70px;
                    margin-right: 50px;
                    opacity: 0.5;
                    box-shadow: 0px 0px 30px 3px rgba($color: black, $alpha: 0.3);
                }
    
                img:hover{
                    transition: 0.2s ease-in-out;
                    opacity: 1;
                }
                
            }
    
            // .mediaIcons:nth-child(even){
            //     margin-bottom: 70px;
            // }
    
            h3{
                color: white;
                font-size: 20px;
                text-align: center;
                margin-top: 40px;
            }
    
        }
    
    
    }
}