#ctaSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
    background-color: #611F1F;
    margin-top: 100px;
    img{
        width: 1246px;
        height: 699px;
        color: black;
        margin-top: 40px;
        line-height: 596px;
    }

    h2{
        width: 850px;
        height: 126px;
        font-size: 62px;
        line-height: 126px;
        color: white;
        background-color: darkgrey;
        margin-top: 40px;
    }

    #ctaText{
        font-size:87px;
        color: white;
        margin-top: 40px;
        width: 1471px;
    }

    #ctaDesc{
        width: 1471px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 50px;
        margin-bottom: 50px;
        background-color: white;

        h3{
            margin-top: 40px;
            font-size: 45px;
        }

        p{
            margin-top: 50px;
            font-size: 45px;
            margin-bottom: 40px;

        }
    }
}