footer{
    // margin-top: 50px;
    background-color: grey;
    max-height: 546px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 40px;

    .footerText{
        display: none;
    }
    
    #footerNavSection{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 20px;

        a{
            text-decoration: none;
        }
        #leftSection{
            display: none;
            flex-direction: row;
            justify-content: space-between;
            padding-right: 70px;
            width: 1000px;
            a:hover{
                border-bottom: 2px solid white;
            }
            section{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                color: white;
                h3{
                    font-size: 27px;
                    font-weight: bold;
                    text-align: left;
                }

                li{
                    font-size: 27px;
                    text-align: left;
                    margin-top: 20px;
                    a{
                        color: white;
                    }
                }

            }
        }

        #rightSection{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            .topParts{


                .footerContact{
                    display: none;
                }
                #footerLogo{
                    margin-left: 0px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img{
                        width: 100px;
                    }
                }
            }

            .bottomParts{
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                
                hr{
                    display: block;
                    border: 4px solid white;
                    margin-bottom: 20px;
                    width: 250px;
                }

                p{
                    width: 250px;
                    color:  white;
                    font-size: 13px;
                    text-align: left;
                }
            }
            
        }
    }
}

@media screen and (min-width: 1080px){
    footer{
        // margin-top: 50px;
        background-color: grey;
        height: 546px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    
        .footerText{
            display: block;
            font-size: 12px;
            text-align: left;
            color: white;
            margin-left: 90px;
            margin-right: 90px;
            margin-top: 50px;
        }
        
        #footerNavSection{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 90px;
            margin-right: 90px;
            margin-top: 50px;
    
            a{
                text-decoration: none;
            }
            #leftSection{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-right: 70px;
                width: 1000px;
                a:hover{
                    border-bottom: 2px solid white;
                }
                section{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    color: white;
                    h3{
                        font-size: 27px;
                        font-weight: bold;
                        text-align: left;
                    }
    
                    li{
                        font-size: 27px;
                        text-align: left;
                        margin-top: 20px;
                        a{
                            color: white;
                        }
                    }
    
                }
            }
    
            #rightSection{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                
                .topParts{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
    
                    .footerContact{
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
    
                        button{
                            width: 218px;
                            height: 69px;
                            background-color: white;
                            color: black;
                            font-size: 40px;
                            line-height: 69px;
                            text-align: center;
                            border: 2px solid black;
                            cursor: pointer;
                        }
    
                        button:nth-child(2){
                            margin-top: 50px;
                        }
    
                        button:hover{
                            transition: 0.1s ease-in-out;
                            color: white;
                            background-color: black;
                        }
                    }
                    #footerLogo{
                        margin-left: 50px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        img{
                            width: 200px;
                        }
                    }
                }
    
                .bottomParts{
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    
                    hr{
                        display: block;
                        border: 4px solid white;
                        margin-bottom: 20px;
                        width: 676px;
                    }
    
                    p{
                        width: 643px;
                        color:  white;
                        font-size: 13px;
                        text-align: left;
                    }
                }
                
            }
        }
    }
}