footer{
    margin-top: 50px;
    background-color: grey;
    height: 646px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .footerText{
        font-size: 26px;
        text-align: left;
        color: white;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 50px;
    }
    
    #footerNavSection{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-left: 90px;
        margin-right: 90px;
        margin-top: 100px;

        #leftSection{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            width: 1000px;
            section{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                color: white;
                h3{
                    font-size: 27px;
                    font-weight: bold;
                    text-align: left;
                }

                li{
                    font-size: 27px;
                    text-align: left;
                    margin-top: 20px;
                    a{
                        color: white;
                    }
                }

            }
        }

        #rightSection{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            
            .topParts{
                display: flex;
                flex-direction: row;
                justify-content: center;

                .footerContact{
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;

                    button{
                        width: 218px;
                        height: 69px;
                        background-color: white;
                        color: black;
                        font-size: 40px;
                        line-height: 69px;
                        text-align: center;
                        border: none;
                        cursor: pointer;
                    }

                    button:nth-child(2){
                        margin-top: 50px;
                    }
                }
                #footerLogo{
                    margin-left: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    img{
                        width: 200px;
                    }
                }
            }

            .bottomParts{
                margin-top: 50px;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                
                hr{
                    display: block;
                    border: 4px solid white;
                    margin-bottom: 20px;
                    width: 676px;
                }

                p{
                    width: 643px;
                    color:  white;
                    font-size: 13px;
                    text-align: left;
                }
            }
            
        }
    }
}