.newsSection{
    width: 1694px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    h2{
        font-size: 75px;
        text-align: left;
        margin-bottom: 40px;
    }
    section{
        margin: 0 auto;
        #latestNews{
            display: flex;
            flex-direction: column;
            text-decoration: none;
            justify-content: center;
            li{

                width: 1654px;
                height: 310px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: left;
                margin-bottom: 40px;
                font-size: 37px;
                padding-left: 20px;
                padding-right: 20px;
                color: white;
                
                a{
                    margin-top: 20px;
                    color: white;
                }
            }

            li:nth-child(1){
                background-color:#794F4F ;
            }

            li:nth-child(2){
                background-color: #511818;
            }

            li:nth-child(3){
                background-color: #8F2C2C;
            }
        }
    }
}